@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container{
        flex-direction: column;
        box-shadow: none;
    }
    .nav-items ul {
        margin-top: 20px;
    }

    .banner-container{
        flex-direction: column-reverse;
    }
    .banner-containt{
        width: 100%;
        padding: 60px;
        
    }
    .banner-logo{
        width: 100%;
    }
    .gamer-container{
        flex-direction: column;
    }
    .gamer-logo{
        width: 100%;
    }
    .gamer-containt{
        text-align: center;
        width: 100%;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        
     }
     .game-of-list-container{
        height: auto;
     }
     .game-containt{
        gap: 40px;
     }
     .Play-Instantly{
        flex-direction: column;
     }
     .Play-Instantl-logo {
        width: 90%;
        margin: 0 auto;
        
    }
    .Play-Instantl-img-2{
        width: 200px;
        position: absolute;
        top: 350px;
        left: -50px;
    }
     .Play-Instantl-img-1{
        width: 100%;
        margin: 0 auto;
     }
    
    
}